body {
  background-color: rgb(243, 243, 243);
  font-family: "Roboto", sans-serif;
}

header h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  color: rgb(110, 17, 197);
}

img {
  display: block;
  width: 400px;
  height: auto;
  margin: auto;
}

main {
  background-color: rgb(110, 17, 197);
  color: white;
  width: 1000px;
  border-radius: 20px;
  margin: auto;
  padding: 60px;
  margin-top: 60px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

main h2 {
  font-size: 30px;
}

main p {
  font-size: 23px;
}

.bold {
  font-weight: bold;
}

ul {
  list-style: none;
  font-size: 22px;
}

li {
  margin: 15px -15px;
  padding-left: 15px;
}

.block-text {
  background-color: rgb(255, 239, 209);
  color: rgb(110, 17, 197);
  padding: 5px;
  border-radius: 10px;
}

.border-left {
    margin-right: -10px;
    border-left: 5px solid rgb(209, 189, 9);
    color: rgb(255, 255, 52);
}

footer {
  text-align: center;
}

footer a {
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(214, 182, 0);
  text-decoration: none;
  color: rgb(85, 85, 85);
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0 0 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

footer p {
    color: gray;
    font-size: 12px;
}